* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;

}
body{
  position: relative;
}
#wrapper{
  position: relative;
}
#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

#nav{
  /* margin-left: 20px; */
}
#nav > li{
  display: inline-block;
  color: white;
  line-height: 46px;
  padding: 0px 0px;
  float: left;
  max-width: 98.94px;
  position: relative;
}
#nav > li > a{
  display: inline-block;
  padding: 0px 24px;
  text-decoration: none;
  text-transform: uppercase;
}
#nav > li:hover > a{
  color: #000!important;
  background-color: #ccc!important;
}

#nav > .more >a{
  width: 107px;
}

.subnav{
  color: #000;
  width: 160px;
  min-height: 18px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: none;

}

.subnav li {
  list-style: none;
}
.subnav li a{
  text-decoration: none;
  display: block;
  text-indent: 15px;
}
.subnav li a:hover{
  color: #000;
  background-color: #ccc;

}
#nav > li.more:hover ul.subnav{
  display: block;
}

#find a {
  display: inline-block;
  line-height: 46px;
  width: 62px;
  float: right;
  line-height: 46px;
  width: 62px;
  color: white;
  text-align: center;
}
#find a:hover{
  color: #fff;
  background-color: #f44336;
}
#banner {
  margin-top: 46px;
  background: url(https://www.w3schools.com/w3images/chicago.jpg) top center /cover no-repeat;
  padding-top: 50%;
  position: relative;
}
#banner .title{
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 24px;
}

#banner .title p{
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: bold;
}

#intro {
  background-color: #fff;
  min-height: 510px;
  margin-top: -70px;

}

#content{
  width: 800px;
  min-height: 670px;
  margin: auto;
  text-align: center;
  margin-top: 0;

}
#content p {
  text-align: left;
  font-size: 15px;
}
.name{
  margin-top: 70px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  text-align: center;
}
.subname{
  margin-bottom: 15px;
  font-size: 15px;
  font-style: italic;
  color: rgb(155, 155, 155);
}
#member{
  width: 798px;
  min-height: 285px;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
}
#one, #three, #two{
  width: 266px;
  height: 221px;
  margin: auto;
}

#member p{
  text-align: center;
  font-weight: bold;

}
#member img{
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#picture {
  min-height: 840px;
  background-color: #000;
  color: #fff;
  /* text-align: center; */
}

#tour{
  width: 800px;
  min-height: 670px;
  margin: auto;
  /* text-align: center; */
  margin-top: 0;
}
#tour > .name,  .subname{
  text-align: center;
}
#month{
  background-color: white;
  margin-top: 30px;

}
#month li{
  list-style: none;
  color: #757575;
  font-size: 15px;
  padding: 8px 16px;
  border: 1px solid #ddd;
}
#month .sold-out{
  background: #f44336;
  color: white;
  font-size: 15px;
  padding: 2px 5px;
  margin-left: 15px;
}
#month .quantity{
  float: right;
  background: black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  line-height: 24px;
}
#ticket{
  /* 2 */
  min-width: 833px;
  min-height: 400px;
  margin: auto;
  /* text-align: center; */
  margin-top: 0;
  background-color: black;
  margin-top: 40px;
  /* display: flex; */
}
#ticket .item{
  width: calc(100%/3);
  float: left;
  background-color: black;
  color: #000;
  font-family: "Lato", sans-serif;
}
#ticket .item img{
  width: 245px;
  height: 184px;
}
#ticket .item img:hover{
  opacity: 0.6;
}
#ticket .item .local{
  font-size: 15px;
  margin: 12px;
  font-weight: bold;
  margin-top: 0;
}
#ticket .item .time{
  font-size: 15px;
  margin: 12px;
  color: #a9a6a6;
}
#ticket .item .prah{
  font-size: 15px;
  margin: 12px;
  padding-right: 10px;
  line-height: 1.4;
}
.buy{
  margin: 12px;
  padding: 8px 12px;
  background-color: black;
  border: none;
  color: white;
}
.buy:hover{
  background-color: #ccc;
  color: black;
  cursor: pointer;
}
#ticket .item .write{
  width: 245px;
  background-color: white;
  padding-top: 20px;
}

#contact {
  background-color: #fff;
  min-height: 457px;
  margin-top: -70px;
}

#contact-container{
  width: 800px;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
}

#contact-body{
  display: flex;
}

#contact-info{
  font-size: 18px;
  font-weight: 100;
  /* margin-right: 294px; */
  width: 840px;
}

#contact-info i{
  width: 30px;
}

#contact-box{
  width: 100%;
}

.box{
  padding: 8px;
  border: 1px solid #ccc;
  width: 205.5px;
  margin-left: 18px;
}

.box-one{
  margin-top: 8px;
  width: 429px;
  margin-bottom: 15px;

}

#contact-box-two {
  display: flex;
}

.contact-btn{
  float: right;
  padding: 8px 16px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}



#map img{
  width: 100%;
}

#footer {
  background-color: #f1f1f1;
  min-height: 215px;
}

#icon{
  text-align: center;
  font-size: 24px;
  padding-top: 82px;
  padding-bottom: 16px;
}

#icon i{
  text-decoration: none;
  color: black;
}

#icon i:hover,
.coppy-right a:hover{
  opacity: 0.5;
}

#footer .coppy-right{
  text-align: center;
}

.coppy-right a:hover{

}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.open{
  display: flex;
}

.modal-container{

  background-color: white;
  width: 900px;
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

.modal-close {
  position: absolute;
  right: 0;
  padding: 8px 12px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.modal-close:hover {
  cursor: pointer;
  opacity: 0.8;
}

#modal-header {
  text-align: center;
  padding: 42px;
  background: #009688;
  font-size: 30px;
  color: white;
}

#modal-body {
  padding: 20px;
}

#modal-body .modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

#modal-body .modal-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
}

#modal-button {
  width: 100%;
  padding: 14px;
  background: #009688;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

#modal-button:hover{
  opacity: 0.8;
}

#modal-footer {
  text-align: right;
  padding: 16px;
  font-size: 15px;
}

#modal-footer a{
  color: #2196F3;
}

@keyframes modalFadeIn {
  from{
    opacity: 0;
    transform: translateY(-180px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

